.card {
  width: 1000px;
  height: auto;
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px 0 rgba(66, 68, 90, 0.35);
  padding: 35px;
}

.card_inform {
  width: 1000px;
  height: auto;
  display: block;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px 0 rgba(66, 68, 90, 0.35);
  padding: 35px;
}

.box {
  display: flex;
  margin-left: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.text_element {
  width: 600px;
}

.title {
  margin-bottom: 10px;
}

.text {
  margin-bottom: 10px;
}

.item {
  margin-bottom: 30px;
}
.img {
  box-shadow: 0 0 8px 0 rgba(66, 68, 90, 0.35);
}

.link {
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s;
  position: absolute;
  top: 80px;
  left: 20px;
}

.icon {
  margin-right: 5px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    display: block;
    width: 290px;
    margin-top: 75px;
  }
  .imgLink {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .title {
    margin-top: 20px;
    font-size: 20px;
  }
  .text {
    font-size: 18px;
  }
  .text_element {
    width: 300px;
  }
  .card_inform {
    width: 290px;
  }
  .titleInf {
    display: flex;
    justify-content: center;
    font-size: 19px;
  }
  .listInfo {
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    color: black;
    margin-bottom: 20px;
  }
  .linkInfo {
    text-decoration: none;
    
  }
}
